{% extends 'base.html' %}

{% block title %} Delete Blog Post {% endblock %}
{% block homeactive %} active {% endblock homeactive %}

{% block css %}

{% endblock %}
{% block body %}



<h1>Delete Post...</h1>
<br><br>

<h3>Delete: {{posts.title}}</h3>


<br>
<div class="form-group">
  <form method="POST">
      {% csrf_token %}
      <strong>Are you sure you want to delete post?</strong><br>
      <a href="/" class="btn btn-success">Cancel</a>
      <button class="btn btn-secondary">Delete Post</button>
</div>



{% block js %} 
{% endblock %}
<script></script>

{% endblock %}